#popTable{
        border-collapse: collapse;
        width: 100%;
}


#popTable thead th, #popTable tbody td{
        height: 32px;
        padding: 0;
}

#popTable tr input {
        border: 0;
        width: 100%;
        height: 29px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0 0 0 0;
}

.tableYearlyPopButton{
        width: 90% !important;
}

.validRow {
        background-color: #e6e6e6;
}

tbody.highlight tr:hover{
        background-color: #dddddd;
}

#popTable td:nth-child(1), #popTable th:nth-child(1){
        width: 20%;
}

#popTable td:nth-child(2), #popTable th:nth-child(2){
        width: 20%;
}

#popTable td:nth-child(3), #popTable th:nth-child(3){
        width: 20%;
}

#popTable td:nth-child(4), #popTable th:nth-child(4){
        width: 15%;
}

#popTable td:nth-child(5), #popTable th:nth-child(5){
        width: 15%;
}

#popTable td:nth-child(6), #popTable th:nth-child(6){
        width: 10%;
}

.tableDelButton{
        background-color: rgb(221, 221, 221);
}

#oStatsTable {
        max-height: 440px;
        height: 440px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
}

#oStatsTable>tbody>tr:nth-child(odd){
        background-color: #dce0e2;
}

#oStatsTable>tbody>tr:nth-child(even){
        background-color: #d4d9db;
}

#oStatsTable>tbody>tr:hover{
        background-color: #c1c7c9;
}

#oStatsTable>tbody>tr>td{
        padding: 4px 5px 4px 5px;
}

#oStatsTable td:nth-child(1), #oStatsTable th:nth-child(1){
        width: 60%;
}

#oStatsTable td:nth-child(2), #oStatsTable th:nth-child(2){
        width: 40%;
}