#popTable{
        border-collapse: collapse;
        width: 100%;
}


#popTable thead th, #popTable tbody td{
        height: 32px;
        padding: 0;
}

#popTable tr input {
        border: 0;
        width: 100%;
        height: 29px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0 0 0 0;
}

.tableYearlyPopButton{
        width: 90% !important;
}

#popTable td:nth-child(1), #popTable th:nth-child(1){
        width: 20%;
}

#popTable td:nth-child(2), #popTable th:nth-child(2){
        width: 20%;
}

#popTable td:nth-child(3), #popTable th:nth-child(3){
        width: 20%;
}

#popTable td:nth-child(4), #popTable th:nth-child(4){
        width: 15%;
}

#popTable td:nth-child(5), #popTable th:nth-child(5){
        width: 15%;
}

#popTable td:nth-child(6), #popTable th:nth-child(6){
        width: 10%;
}